html,
body,
.page, .App, #root {
  height: 100%; /* needed for proper layout */
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

p {
  margin-bottom: 1em;
}

.page, .App, #root {
  display: flex;
  flex-direction: column;
}

.page-header {
  flex: 0 0 auto;
  background-color: #dcdcdc;
  height: 100px;
}

.scroll-container {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.scroll-container nav {
  position: fixed;/* need this to position inner content */
  overflow-y: hidden;
  width: 200px;
}


.page-content {
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  margin-left: 200px;
}

.page-footer {
  flex: 0 0 auto;
  background-color: #dcdcdc;
  height: 100px;
}

.is-current {
    background-color: #607D8B;
}
