/*============   RESET          */

* {
    padding: 0;
    margin: 0;
    /*suppression des margin et padding de toutes les balises*/
    box-sizing: border-box;
    /* pour maîtriser width et flex-basis */
    list-style: none;
    /*suppression des puces*/
    text-decoration: none;
    /*suppresion des soulignements des liens*/
    font-family: 'Lato', sans-serif;
    color: azure;
  }
  
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 30px #e1e1e1;
    -webkit-box-shadow: inset 0 0 30px #e1e1e1;
    border-radius: 10px;
}

*::-webkit-scrollbar-track-piece {
    box-shadow: inset 0 0 30px #e1e1e1;
    -webkit-box-shadow: inset 0 0 30px #e1e1e1;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 30px #e1e1e1;
    -webkit-box-shadow: inset 0 0 30px #818181;
    border-radius: 10px;
} 
  .person-container .person-scroll-container nav {
    background-color: #37474f;
  }
  
  .person-container footer {
    background-color: #263238;
  }
  
  .person-container .person-scroll-container section {
    background-color: #607D8B;
    padding: 32px;
  }
  
  .person-container .person-scroll-container nav a {
    font-size: 1.5vw;
    text-transform: uppercase;
  }
  
  .person-container .person-scroll-container nav a:hover {
    background-color: #607D8B;
  }
  
  .person-container .person-scroll-container .is-current {
    background-color: #607D8B;
  }

  
  /* =====================================    
   POSITIONING
  ======================================*/

  .App, .person-container {
    display: flex;
    flex-direction: column;
    min-height: 600px;
  }
  
  .person-container .person-header {
    position: fixed;
    width: 100%;
    background-color: #37474f;
    height: 66px;
  }
  
  .person-container .person-scroll-container {
    flex: 1;
    padding: 66px 0 0 0;
  }
 
  
  /* =====================================    
  MAIN + ASIDE + SECTION  LAYOUT
  ======================================*/
  .person-container .person-scroll-container {
    display: flex;
    flex-flow: wrap;
  }
  
  .person-container .person-scroll-container nav {
    position: fixed;
    z-index: 10;
    min-width: 20%;
    height: calc(100% - 146px);
  }
  
  .person-container .person-scroll-container .person-sections-container section {
    flex: 1;
    margin-left: 20%;
  }

  
  /* FOOTER */
  .person-container footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    height: 80px;
    display: flex;
    flex-flow: column wrap;
  }
  
  .person-container footer p {
    flex: 1;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center
  }