* {
    box-sizing: border-box;
}
.App, .person-container{
    display: flex;
    flex-direction: row;
}

.person-nav-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.person-header {
    height: 120px;
    flex-shrink: 0;
}

.person-footer {
    height: 80px;
    flex-shrink: 0;
}

.person-navbar {
    width: 260px;
    overflow-y: scroll;
}
.person-navbar--fixed-left {
    position: fixed;
    min-height: 100vh;
    left: 0;
}
.person-nav {
    background-color: #64d3ff;
    word-wrap: break-word;
}
.person-nav__head {
    padding: 4rem 1rem;
    background-color: #444;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.is-current > a {
    border-left: 2px solid #444;
    color: #444;
    font-weight: bold;
}

.person-nav__link {
    display: block;
    padding: 1rem;
    background-color: #64d3ff;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.person-main-area--fixed-left-sidebar {
    margin-left: 260px;
}

.person-main-area--with-sidebar {
    width: calc(100vw - 286px);
}

.person-main-area {
    flex-grow: 1;
}